/*-------------------------------------------
  -- Hero
-------------------------------------------*/
#ts-hero {
  display: flex;
  position: relative;
  overflow: hidden;

  .ts-background-image {
    background-position: top center;
  }
}